* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Tahoma", sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

.mh__calender{
    width: 100%;
}
.mh__calender table {
    width: 70%;
    margin: 50px auto;
    border-collapse: collapse;
}

.mh__calender th,
.mh__calender td {
    padding: 15px;
    border: 1px solid #ddd;
}

.mh__calender th {
    background-color: #4caf50;
    color: white;
}

.mh__calender td {
    background-color: #f9f9f9;
}

.mh__calender .text-muted {
    visibility: hidden;
    border: 0;
}

.mh__calender .navigation-buttons {
    margin-top: 20px;
}

.mh__calender .today{
    color: red;
}
